@import '../../style.scss';

.item-card {
	width: 100%;
	background-color: $cards-color;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid $default-border-color;
	padding: 10px;
	box-sizing: border-box;

	&__title {
		cursor: pointer;
		transition: .3s color;

		&:hover {
			color: $default-text-hover-color;
		}
	}
}
