@import '../../../index.scss';

.createRepositoryFrom {
    form {
        position: relative;
    }

    .field {
        width: 335px;

        &:first-child {
            display: flex;
            align-items: flex-end;
        }
    }

    .repositoryNameSpinner {
        width: 35px;
        height: 35px;
        margin-bottom: 20px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s;

        svg {
            height: 35px;
            width: 35px;
        }

        &.loading {
            opacity: 1;
        }
    }

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s;

        &.loading {
            opacity: 1;
        }
    }

    .button {
        width: 300px;
    }

    .buttonWrapper {
        display: flex;
        justify-content: flex-end;
    }
}
