@import '../../index.scss';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px #060607 solid;
    padding: 16px 24px;
    background-color: #303134;

    .headerLeft {
        font-weight: 600;
        font-size: 32px;
    }
}
