@import '../../index.scss';

.createRepositoryPage {
    width: calc(100% - 65px);
    box-sizing: border-box;
    border-top: 1px solid $default-dark-border;
    margin: 5px 10px 0 55px;

    .form {
        box-sizing: border-box;
        padding: 15px;
        border-radius: 10px;
        background-color: $cards-color;
        border: 1px solid $default-border-color;
    }
}
