@import '../index.scss';

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 150px;

    &:not(:last-child) {
        margin-right: 5px;
    }
}

.textInputPopup {
    .textInputPopupText {
        font-size: 14px;
        margin: 22px 0 10px;
    }
}

