@import '../../../index.scss';

.searchPopupHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchPopupCross {
        cursor: pointer;
    }
}

.searchInputPopup {
    .searchInputPopupText {
        font-size: 14px;
        margin: 22px 0 10px;
    }

    .searchPopupField {
        display: flex;
        align-items: flex-start;

        .searchPopupSpinner {
            margin-left: 10px;
            opacity: 0;
            transition: opacity .2s;
    
            &.show {
                opacity: 1;
            }
    
            svg {
                height: 30px;
                width: 30px;
            }
        }
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 150px;

    &:not(:last-child) {
        margin-right: 5px;
    }
}