@import '../../index.scss';

.itemCard {
	width: 100%;
	background-color: $cards-color;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid $default-border-color;
	padding: 10px;
	box-sizing: border-box;

	.title {
		cursor: pointer;
		transition: .3s color;
		white-space: pre;
		width: min-content;

		&:hover {
			color: $default-text-hover-color;
		}
	}

	.badges {
		display: flex;
		align-items: center;
		margin-top: 15px;
	}
}
