@import '../../../index.scss';

.checkboxField {
    display: flex;
    flex-direction: column;
    position: relative;

    .input {
        display: flex;
        align-items: center;

        &.disable {
            opacity: .8;
        }

        input {
            height: 15px;
            width: 15px;
            opacity: 0;
            position: absolute;
            z-index: 10;
            cursor: pointer;
        }
    }

    .label {
        font-size: 17px;
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    .fakeInput {
        height: 15px;
        width: 15px;
        background-color: $default-icon-color;
        margin-right: 5px;
        border-radius: 3px;
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .errorText {
        color: $default-text-error-color;
        height: 22px;
        width: 100%;
        margin-top: 5px;
        font-size: 10px;
    }

    &.checked {
        .fakeInput {
            background-color: $default-icon-succes-color;
        }
    }
}
