@import '../../index.scss';

.pageWrapper {
    display: flex;
	flex-direction: column;
    width: 100%;
    min-height: calc(100% - 69px);
    max-height: min-content;

	.page {
		display: flex;
	}

	.menu {
		width: 325px;
	}

	.content {
		width: calc(100vw - 325px);
		box-sizing: border-box;
	}
}
