@import '../../index.scss';

.filesCard {
	width: 100%;
	background-color: $cards-color;
	border-radius: 5px;
	border: 1px solid $default-border-color;
	padding: 10px 0;
	box-sizing: border-box;
	height: calc(100vh - 224px);
	overflow: auto;

	.row {
		padding: 8px 10px;
		font-size: 14px;
		cursor: pointer;
		transition: .2s background-color, .2s color;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.added {
			color: $add-color;
		}

		&.modify {
			color: $modify-color;
		}

		&.delete {
			color: $delete-color;
		}

		&:hover {
			background-color: $default-hover-color;
		}
	}

	.title {
		display: flex;
		align-items: center;
		flex: 7;
	}

	.actions {
		transition: .2s all;
		opacity: 0;
		flex: 2;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&.hover {
			opacity: 1;
		}
	}

	.icon {
		margin-right: 10px;
		height: 20px;
		width: 20px;

		svg {
			height: 20px;
			width: 20px;
		}
	}

	.emptyMessage {
		margin-left: 10px;
	}

	.actionChar {
		opacity: 0;
		transition: 0 all;
		flex: 1;
		text-align: right;
		padding-right: 10px;

		&.added {
			color: $add-color;
		}

		&.modify {
			color: $modify-color;
		}

		&.delete {
			color: $delete-color;
		}

		&.showActionChar {
			opacity: 1;
		}
	}
}
