body {
    margin: 0;
    position: relative;

    // dark theme

    // inputs
    --input-border: #5e6366;
    --input-icon: #77909b;

    // buttons
    --button-background: #0e6203;
    --button-border: #0e6203;
    --button-hover: #107603;
    --button-disable: #004524;

    // main
    --page-color: #3e4345;
    --menu-hover-color: #313537;
    --menu-item-hover-color: #474b4e;
    --breadcrumbs-hover-color: #313537;
    --cards-color: #313537;
    --secondary-cards-color: rgb(82, 82, 82);

    // texts
    --default-text-color: #f1f3f4;
    --default-text-hover-color: #d0d0d0;
    --default-text-error-color: #ee6868;
    --default-text-succes-color: #83a300;
    --default-text-disable-color: #a1a1a1;

    --add-color: forestgreen;
    --modify-color: gold;
    --delete-color: firebrick;
    --nuetral-color: ghostwhite;

    --default-icon-color: #77909b;
    --default-icon-error-color: #ee6868;
    --default-icon-succes-color: #B9F287;

    --default-border-color: #4e5254;
    --second-border-color: #6f6f75;
    --default-dark-border: #242728;
    --default-shadow-color: rgba(241, 243, 244, 0.2);
    --default-hover-color: rgba(241, 243, 244, 0.2);
    --second-hover-color: #3e4345;

    --scrollbar-color-thumb: #666;
    --scrollbar-color-thumb-hover: #999;
}

// inputs
$input-border: var(--input-border);
$input-icon: var(--input-icon);

// buttons
$button-background: var(--button-background);
$button-border: var(--button-border);
$button-hover: var(--button-hover);
$button-disable: var(--button-disable);

// main
$page-color: var(--page-color);
$menu-hover-color: var(--menu-hover-color);
$menu-item-hover-color: var(--menu-item-hover-color);
$breadcrumbs-hover-color: var(--breadcrumbs-hover-color);
$cards-color: var(--cards-color);
$secondary-cards-color: var(--secondary-cards-color);

// texts
$default-text-color: var(--default-text-color);
$default-text-hover-color: var(--default-text-hover-color);
$default-text-error-color: var(--default-text-error-color);
$default-text-succes-color: var(--default-text-succes-color);
$default-text-disable-color: var(--default-text-disable-color);

$add-color: var(--add-color);
$modify-color: var(--modify-color);
$delete-color: var(--delete-color);
$nuetral-color: var(--nuetral-color);

$default-icon-color: var(--default-icon-color);
$default-icon-error-color: var(--default-icon-error-color);
$default-icon-succes-color: var(--default-icon-succes-color);

$default-border-color: var(--default-border-color);
$second-border-color: var(--second-border-color);
$default-dark-border: var(--default-dark-border);
$default-shadow-color: var(--default-shadow-color);
$default-hover-color: var(--default-hover-color);
$second-hover-color: var(--second-hover-color);

$scrollbar-color-thumb: var(--scrollbar-color-thumb);
$scrollbar-color-thumb-hover: var(--scrollbar-color-thumb-hover);

body {
    font-family: Verdana, Verdana, Geneva, sans-serif;
    color: $default-text-color;
}

a {
    text-decoration: none;
    color: $default-text-color;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: $scrollbar-color-thumb; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-color-thumb-hover;
}
