body {
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Verdana, Verdana, Geneva, sans-serif;
    position: relative;

    .logger-wrapper {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    // dark theme

    // inputs
    --input-border: #5e6366;
    --input-icon: #77909b;

    // buttons
    --button-background: #0e6203;
    --button-border: #0e6203;
    --button-hover-disable: #107603;

    // main
    --page-color: #3e4345;
    --menu-hover-color: #313537;
    --menu-item-hover-color: #474b4e;
    --breadcrumbs-hover-color: #313537;
    --cards-color: #313537;

    // texts
    --default-text-color: #f1f3f4;
    --default-text-error-color: #ee6868;
    --default-text-succes-color: #83a300;

    --default-icon-color: #77909b;
    --default-icon-error-color: #ee6868;
    --default-icon-succes-color: #B9F287;

    --default-border-color: #4e5254;
    --default-dark-border: #242728;
}

// inputs
$input-border: var(--input-border);
$input-icon: var(--input-icon);

// buttons
$button-background: var(--button-background);
$button-border: var(--button-border);
$button-hover-disable: var(--button-hover-disable);

// main
$page-color: var(--page-color);
$menu-hover-color: var(--menu-hover-color);
$menu-item-hover-color: var(--menu-item-hover-color);
$breadcrumbs-hover-color: var(--breadcrumbs-hover-color);
$cards-color: var(--cards-color);

// texts
$default-text-color: var(--default-text-color);
$default-text-error-color: var(--default-text-error-color);
$default-text-succes-color: var(--default-text-succes-color);

$default-icon-color: var(--default-icon-color);
$default-icon-error-color: var(--default-icon-error-color);
$default-icon-succes-color: var(--default-icon-succes-color);

$default-border-color: var(--default-border-color);
$default-dark-border: var(--default-dark-border);


.page-wrapper {
    background-color: $page-color;
    color: $default-text-color;
}

a {
    text-decoration: none;
    color: $default-text-color;
}
