@import '../../index.scss';

.mapsListPage {
    width: calc(100% - 65px);
    box-sizing: border-box;
    border-top: 1px solid $default-dark-border;
    margin: 5px 10px 0 55px;

    .maps {
        position: relative;
        height: calc(100vh - 310px);
        overflow: auto;
    }

    .spinner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .paginator {
        margin-top: 30px;
    }

    .filters {
        display: flex;
        align-items: center;
    }

    .toggleFiltersButton {
        height: 45px;
        width: 45px;
        box-sizing: border-box;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 15px;
        transition: background-color .2s, opacity .2s, margin-right .1s;
        user-select: none;
        margin-left: 10px;
        
        &:hover {
            background-color: $default-hover-color;
        }
    }
}
