@import '../../style.scss';

.repository-page {
    width: calc(100% - 65px);
    box-sizing: border-box;
    border-top: 1px solid $default-dark-border;
    margin: 5px 10px 0 55px;
	padding-top: 25px;

    &__title {
        font-size: 24px;
        letter-spacing: 1px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
