@import '../../index.scss';

.repositoriesListPage {
    width: calc(100% - 65px);
    box-sizing: border-box;
    border-top: 1px solid $default-dark-border;
    margin: 5px 10px 0 55px;

    .repositories {
        position: relative;
        height: calc(100vh - 310px);
        overflow: auto;
    }

    .spinner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .paginator {
        margin-top: 30px;
    }

    .nothingFind {
        width: 100%;
        background-color: $cards-color;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid $default-border-color;
        padding: 10px;
        box-sizing: border-box;
    }
}
