@import '../../../index.scss';

.node {
    color: $default-text-color;
    border: none;
    background-color: $secondary-cards-color;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .metainfo {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 8px;

        .badges {
            display: flex;
            flex-wrap: wrap;
        }

        .enterIcon {
            border-radius: 50%;
            transition: background-color .2s;
            height: 20px;
            width: 20px;
            box-sizing: border-box;
            position: relative;

            &:hover {
                background-color: var(--default-hover-color);
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
